body {
  background-color: #042d70;
}
.discussion-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 800px;
  height: 600px;
}
.discussion-container .discussion-header {
  flex-direction: column;
  background-color: #79aafa;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 70px;
}
.discussion-container .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 790px;
}
.discussion-container .topic {
  width: 700px;
}
.discussion-container .close-button {
  margin: 5px;
}
.discussion-container .created-info {
  font-size: 12px;
}
.discussion-container .discussion-body {
  overflow-y: scroll;
  margin: 10px;
  height: 510px;
}
.discussion-container .message {
  background-color: #0641a1;
}
h1 {
  font-size: 18px;
}
.message-container {
  display: flex;
  flex-direction: row;
  color: white;
}
.left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 149px;
  border-right: 1px solid silver;
}
.left-side .initials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 1px solid #042d70;
  border-radius: 30px;
  padding: 0;
  background-color: #79aafa;
}
.left-side .date {
  font-size: 12px;
}
.right-side {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 25px;
}
.right-side .author {
  color: orange;
}
.right-side .message {
  border: 1px solid #074bba;
  padding: 10px 3px;
}
